*{
  box-sizing: border-box;
}

.logo{
  height:3em;
  &__link{
    display: flex;
    align-items: center;
  }
}

.vHeader {
  width: 100%;
  display:flex;
  justify-content:space-evenly;
  align-items: center;
  border:1px solid red;
  height: 5em;
  overflow: hidden;
  &__logo{
    display: flex;

  }
  &__item{
    display: flex;
    align-items: center;
    justify-content: center;
    border:1px solid green;
    width:16em;
    height: 100%;
    margin: 0 1em;
    overflow: hidden;
    &&::before{
           content: "";
           display: block;
           height: 100%;
           width: 30%;
           background: red;
           transform: translateX(-185%) rotate(45deg);
           overflow: hidden;
    }
    &&::after{
      content: "";
      display: block;
      height: 100%;
      width: 30%;
      background: red;
      transform: translateX(-200%) rotate(45deg);

    }
  }
}

.flag{
  display: flex;
  flex-direction: column;
  right:0;
  top:0;
  margin: 2em;

  justify-content: space-between;

  .locale{
    margin-right: 1em;
    border:0;
  }

  .flag-icon{
    width:4em;
  }
}
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  max-width: 80rem;
  margin:0 auto;

}

#nav {
  display: flex;
  justify-content: space-evenly;
  padding: 30px;
  a {
    text-decoration: none;
  }
}

.nav__logo{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}